In [1]:
import pandas as pd

In [2]:
import_list = ["./data/la_county/redfin_2020-06-06-10-33-17.csv",  
               "./data/la_county/redfin_2020-06-06-10-34-58.csv",
               "./data/la_county/redfin_2020-06-06-10-33-30.csv",  
               "./data/la_county/redfin_2020-06-06-10-35-32.csv",
               "./data/la_county/redfin_2020-06-06-10-33-57.csv",  
               "./data/la_county/redfin_2020-06-06-10-35-43.csv",
               "./data/la_county/redfin_2020-06-06-10-34-10.csv",  
               "./data/la_county/redfin_2020-06-06-10-35-55.csv",
               "./data/la_county/redfin_2020-06-06-10-34-25.csv",  
               "./data/la_county/redfin_2020-06-06-10-36-06.csv",
               "./data/la_county/redfin_2020-06-06-10-34-38.csv",  
               "./data/la_county/redfin_2020-06-06-10-36-32.csv"]

In [3]:
df = pd.read_csv("./data/la_county/redfin_2020-06-06-10-34-50.csv")

for i in range(len(import_list)):
    df = df.append(pd.read_csv(import_list[i]))

In [5]:
df.shape

(1783, 27)

In [6]:
df.drop_duplicates(inplace=True)
df.shape

(1405, 27)

In [7]:
df.columns

Index(['SALE TYPE', 'SOLD DATE', 'PROPERTY TYPE', 'ADDRESS', 'CITY',
       'STATE OR PROVINCE', 'ZIP OR POSTAL CODE', 'PRICE', 'BEDS', 'BATHS',
       'LOCATION', 'SQUARE FEET', 'LOT SIZE', 'YEAR BUILT', 'DAYS ON MARKET',
       '$/SQUARE FEET', 'HOA/MONTH', 'STATUS', 'NEXT OPEN HOUSE START TIME',
       'NEXT OPEN HOUSE END TIME',
       'URL (SEE http://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)',
       'SOURCE', 'MLS#', 'FAVORITE', 'INTERESTED', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [8]:
df['CITY'].value_counts()

Arcadia             163
Pasadena            158
Covina               81
West Covina          80
Walnut               76
El Monte             74
Alhambra             68
Hacienda Hts         65
Azusa                64
San Gabriel          59
Rowland Heights      54
Temple City          53
La Puente            53
Monrovia             50
Glendora             46
San Marino           42
Baldwin Park         38
Rosemead             32
Montebello           30
Monterey Park        30
San Dimas            19
Sierra Madre         14
Diamond Bar          12
Pico Rivera          11
South El Monte       10
Duarte                7
East Los Angeles      4
Los Angeles           3
South Pasadena        3
Irwindale             3
Charter Oak           1
City Of Industry      1
Valinda               1
Name: CITY, dtype: int64

In [9]:
keep_cols = ['PRICE', 
             'PROPERTY TYPE', 
             'CITY', 
             'ZIP OR POSTAL CODE', 
             'BEDS', 
             'BATHS',
             'SQUARE FEET',
             'LATITUDE',
             'LONGITUDE']

df = df[keep_cols]

In [11]:
df.dtypes

PRICE                   int64
PROPERTY TYPE          object
CITY                   object
ZIP OR POSTAL CODE    float64
BEDS                  float64
BATHS                 float64
SQUARE FEET           float64
LATITUDE              float64
LONGITUDE             float64
dtype: object

In [13]:
df['ZIP OR POSTAL CODE'] = df['ZIP OR POSTAL CODE'].astype('str')
df['ZIP OR POSTAL CODE'] = df['ZIP OR POSTAL CODE'].str.replace(r'\.0', '')

df['ZIP OR POSTAL CODE'].head()

0    91745
1    91745
2    91745
3    91745
4    91744
Name: ZIP OR POSTAL CODE, dtype: object

In [14]:
df.isna().sum()

PRICE                  0
PROPERTY TYPE          0
CITY                   0
ZIP OR POSTAL CODE     0
BEDS                  86
BATHS                 87
SQUARE FEET           96
LATITUDE               0
LONGITUDE              0
dtype: int64

In [15]:
df['PROPERTY TYPE'].value_counts()

Single Family Residential    856
Condo/Co-op                  182
Townhouse                    103
Multi-Family (2-4 Unit)       97
Vacant Land                   86
Mobile/Manufactured Home      46
Multi-Family (5+ Unit)        35
Name: PROPERTY TYPE, dtype: int64

In [18]:
df = df.loc[df['PROPERTY TYPE'] != 'Vacant Land', ]

df.isna().sum()

PRICE                  0
PROPERTY TYPE          0
CITY                   0
ZIP OR POSTAL CODE     0
BEDS                   0
BATHS                  1
SQUARE FEET           10
LATITUDE               0
LONGITUDE              0
dtype: int64

In [19]:
df.dropna(inplace = True)

df.shape

(1308, 9)

In [21]:
df['PRICE'].describe()

count    1.308000e+03
mean     1.277248e+06
std      1.498240e+06
min      3.499900e+04
25%      5.829975e+05
50%      8.169950e+05
75%      1.303750e+06
max      2.300000e+07
Name: PRICE, dtype: float64

In [31]:
df.loc[(df['PRICE'] > 3_000_000), 'PRICE'].count()

95

In [28]:
df.loc[df['PRICE'] == df['PRICE'].min(), ]

,PRICE,PROPERTY TYPE,CITY,ZIP OR POSTAL CODE,BEDS,BATHS,SQUARE FEET,LATITUDE,LONGITUDE
60,34999,Mobile/Manufactured Home,El Monte,91732,2.0,2.0,840.0,34.048358,-118.013322

In [25]:
df.loc[df['PRICE'] == df['PRICE'].max(), ]

,PRICE,PROPERTY TYPE,CITY,ZIP OR POSTAL CODE,BEDS,BATHS,SQUARE FEET,LATITUDE,LONGITUDE
246,23000000,Single Family Residential,Arcadia,91006,6.0,9.0,15000.0,34.156895,-118.023595

In [32]:
df = df.loc[(df['PRICE'] <= 3_000_000), ]

df.shape

(1213, 9)

In [33]:
df['PRICE'].describe()

count    1.213000e+03
mean     9.569641e+05
std      5.831757e+05
min      3.499900e+04
25%      5.700000e+05
50%      7.790000e+05
75%      1.188000e+06
max      3.000000e+06
Name: PRICE, dtype: float64