In [1]:
import pandas as pd

In [2]:
import_list = ["./data/la_county/redfin_2020-06-06-10-33-17.csv",  
               "./data/la_county/redfin_2020-06-06-10-34-58.csv",
               "./data/la_county/redfin_2020-06-06-10-33-30.csv",  
               "./data/la_county/redfin_2020-06-06-10-35-32.csv",
               "./data/la_county/redfin_2020-06-06-10-33-57.csv",  
               "./data/la_county/redfin_2020-06-06-10-35-43.csv",
               "./data/la_county/redfin_2020-06-06-10-34-10.csv",  
               "./data/la_county/redfin_2020-06-06-10-35-55.csv",
               "./data/la_county/redfin_2020-06-06-10-34-25.csv",  
               "./data/la_county/redfin_2020-06-06-10-36-06.csv",
               "./data/la_county/redfin_2020-06-06-10-34-38.csv",  
               "./data/la_county/redfin_2020-06-06-10-36-32.csv"]

In [3]:
df = pd.read_csv("./data/la_county/redfin_2020-06-06-10-34-50.csv")

for i in range(len(import_list)):
    df = df.append(pd.read_csv(import_list[i]))

In [5]:
df.shape

(1783, 27)

In [6]:
df.drop_duplicates(inplace=True)
df.shape

(1405, 27)

In [7]:
df.columns

Index(['SALE TYPE', 'SOLD DATE', 'PROPERTY TYPE', 'ADDRESS', 'CITY',
       'STATE OR PROVINCE', 'ZIP OR POSTAL CODE', 'PRICE', 'BEDS', 'BATHS',
       'LOCATION', 'SQUARE FEET', 'LOT SIZE', 'YEAR BUILT', 'DAYS ON MARKET',
       '$/SQUARE FEET', 'HOA/MONTH', 'STATUS', 'NEXT OPEN HOUSE START TIME',
       'NEXT OPEN HOUSE END TIME',
       'URL (SEE http://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)',
       'SOURCE', 'MLS#', 'FAVORITE', 'INTERESTED', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [8]:
df['CITY'].value_counts()

Arcadia             163
Pasadena            158
Covina               81
West Covina          80
Walnut               76
El Monte             74
Alhambra             68
Hacienda Hts         65
Azusa                64
San Gabriel          59
Rowland Heights      54
Temple City          53
La Puente            53
Monrovia             50
Glendora             46
San Marino           42
Baldwin Park         38
Rosemead             32
Montebello           30
Monterey Park        30
San Dimas            19
Sierra Madre         14
Diamond Bar          12
Pico Rivera          11
South El Monte       10
Duarte                7
East Los Angeles      4
Los Angeles           3
South Pasadena        3
Irwindale             3
Charter Oak           1
City Of Industry      1
Valinda               1
Name: CITY, dtype: int64

In [9]:
keep_cols = ['PRICE', 
             'PROPERTY TYPE', 
             'CITY', 
             'ZIP OR POSTAL CODE', 
             'BEDS', 
             'BATHS',
             'SQUARE FEET',
             'LATITUDE',
             'LONGITUDE']

df = df[keep_cols]

In [11]:
df.dtypes

PRICE                   int64
PROPERTY TYPE          object
CITY                   object
ZIP OR POSTAL CODE    float64
BEDS                  float64
BATHS                 float64
SQUARE FEET           float64
LATITUDE              float64
LONGITUDE             float64
dtype: object

In [13]:
df['ZIP OR POSTAL CODE'] = df['ZIP OR POSTAL CODE'].astype('str')
df['ZIP OR POSTAL CODE'] = df['ZIP OR POSTAL CODE'].str.replace(r'\.0', '')

df['ZIP OR POSTAL CODE'].head()

0    91745
1    91745
2    91745
3    91745
4    91744
Name: ZIP OR POSTAL CODE, dtype: object

In [14]:
df.isna().sum()

PRICE                  0
PROPERTY TYPE          0
CITY                   0
ZIP OR POSTAL CODE     0
BEDS                  86
BATHS                 87
SQUARE FEET           96
LATITUDE               0
LONGITUDE              0
dtype: int64

In [15]:
df['PROPERTY TYPE'].value_counts()

Single Family Residential    856
Condo/Co-op                  182
Townhouse                    103
Multi-Family (2-4 Unit)       97
Vacant Land                   86
Mobile/Manufactured Home      46
Multi-Family (5+ Unit)        35
Name: PROPERTY TYPE, dtype: int64

In [18]:
df = df.loc[df['PROPERTY TYPE'] != 'Vacant Land', ]

df.isna().sum()

PRICE                  0
PROPERTY TYPE          0
CITY                   0
ZIP OR POSTAL CODE     0
BEDS                   0
BATHS                  1
SQUARE FEET           10
LATITUDE               0
LONGITUDE              0
dtype: int64

In [19]:
df.dropna(inplace = True)

df.shape

(1308, 9)

In [21]:
df['PRICE'].describe()

count    1.308000e+03
mean     1.277248e+06
std      1.498240e+06
min      3.499900e+04
25%      5.829975e+05
50%      8.169950e+05
75%      1.303750e+06
max      2.300000e+07
Name: PRICE, dtype: float64

In [31]:
df.loc[(df['PRICE'] > 3_000_000), 'PRICE'].count()

95

In [28]:
df.loc[df['PRICE'] == df['PRICE'].min(), ]

,PRICE,PROPERTY TYPE,CITY,ZIP OR POSTAL CODE,BEDS,BATHS,SQUARE FEET,LATITUDE,LONGITUDE
60,34999,Mobile/Manufactured Home,El Monte,91732,2.0,2.0,840.0,34.048358,-118.013322

In [25]:
df.loc[df['PRICE'] == df['PRICE'].max(), ]

,PRICE,PROPERTY TYPE,CITY,ZIP OR POSTAL CODE,BEDS,BATHS,SQUARE FEET,LATITUDE,LONGITUDE
246,23000000,Single Family Residential,Arcadia,91006,6.0,9.0,15000.0,34.156895,-118.023595

In [32]:
df = df.loc[(df['PRICE'] <= 3_000_000), ]

df.shape

(1213, 9)

In [33]:
df['PRICE'].describe()

count    1.213000e+03
mean     9.569641e+05
std      5.831757e+05
min      3.499900e+04
25%      5.700000e+05
50%      7.790000e+05
75%      1.188000e+06
max      3.000000e+06
Name: PRICE, dtype: float64

In [34]:
df_hdi = pd.read_csv('./data/la_county/la_county_hdi.csv')
df_hprop = pd.read_csv('./data/la_county/la_county_health_profile.csv')

In [35]:
df_hdi.head()

,GEO_NAME,GEO_ID,GEO_TYPE,HD_INDEX,LIFE_EXPEC,LESS_HS,BACHELORS,GRAD_DEGRE,SCHOOL_ENR,EARNINGS,HEALTH_IND,ED_INDEX,INCOME_IND
0,Northeast Los Angeles,1010,City of Los Angeles Community Plan Area,4.85,83.3,30.9,25.4,8.0,80.3,24503,7.22,4.27,3.05
1,North Hollywood - Valley Village,2130,City of Los Angeles Community Plan Area,4.92,81.6,19.9,32.8,8.4,74.1,27157,6.48,4.51,3.76
2,Central City North,1110,City of Los Angeles Community Plan Area,3.50,82.3,39.0,22.2,6.9,54.4,20909,6.77,1.79,1.95
3,Canoga Park - Winnetka - Woodland Hills - West...,2200,City of Los Angeles Community Plan Area,6.02,82.8,14.8,37.2,12.9,79.9,34243,7.00,5.69,5.37
4,Sun Valley - La Tuna Canyon,2170,City of Los Angeles Community Plan Area,4.19,82.1,33.5,17.4,4.1,77.6,22596,6.72,3.36,2.49

In [42]:
df_hdi['GEO_NAME'].unique()

array(['Northeast Los Angeles', 'North Hollywood - Valley Village',
       'Central City North',
       'Canoga Park - Winnetka - Woodland Hills - West Hills',
       'Sun Valley - La Tuna Canyon', 'Wilmington - Harbor City',
       'Mission Hills - Panorama City - North Hills', 'Westlake',
       'Boyle Heights', 'Sun Village', 'Granada Hills - Knollwood',
       'Central City', 'Reseda - West Van Nuys', 'Wilshire',
       'Southeast Los Angeles', 'West Los Angeles', 'South Los Angeles',
       'Sylmar', 'Arleta - Pacoima', 'Palms - Mar Vista - Del Rey',
       'Venice', 'West Adams - Baldwin Hills - Leimert', 'San Pedro',
       'Van Nuys - North Sherman Oaks',
       'Sherman Oaks - Studio City - Toluca Lake - Cahuenga Pass',
       'Hollywood', 'Silver Lake - Echo Park - Elysian Valley',
       'Chatsworth - Porter Ranch', 'Walnut Park',
       'Brentwood - Pacific Palisades', 'Westchester - Playa del Rey',
       'Sierra Madre', 'South Pasadena', 'Vincent', 'Lake Los Angeles',
       'Northridge',
       'Sunland - Tujunga - Lake View Terrace - Shadow Hills - East La Tuna Canyon',
       'Encino - Tarzana', 'South San Jose Hills',
       'Bel Air - Beverly Crest', 'Westwood', 'View Park-Windsor Hills',
       'San Marino', 'Cudahy', 'Westmont', 'Lennox', 'Paramount',
       'Hermosa Beach', 'Duarte', 'Artesia', 'Alhambra', 'East Whittier',
       'West Hollywood', 'Lomita', 'Manhattan Beach', 'El Segundo',
       'Citrus', 'Hawaiian Gardens', 'Bellflower', 'La Mirada', 'Maywood',
       'West Carson', 'Quartz Hill', 'Bell Gardens', 'Bell',
       'San Fernando', 'West Puente Valley', 'Signal Hill',
       'Florence-Graham', 'Altadena', 'Lawndale', 'Santa Monica',
       'Valinda', 'South Whittier', 'Walnut', 'Pomona', 'La Puente',
       'Calabasas', 'Pasadena', 'La Crescenta-Montrose', 'Rosemead',
       'Pico Rivera', 'Arcadia', 'Burbank', 'Monrovia', 'Baldwin Park',
       'La Cañada Flintridge', 'West Whittier-Los Nietos', 'Malibu',
       'Monterey Park', 'Lancaster', 'East San Gabriel', 'Norwalk',
       'East Rancho Dominguez', 'Rowland Heights', 'Montebello',
       'Long Beach', 'Palmdale', 'Palos Verdes Estates', 'Santa Clarita',
       'West Covina', 'Claremont', 'La Verne', 'Lynwood', 'Covina',
       'Whittier', 'Gardena', 'East Los Angeles', 'Culver City', 'Azusa',
       'Avocado Heights', 'Hawthorne', 'Del Aire', 'San Gabriel',
       'Inglewood', 'Torrance', 'Temple City', 'Glendora',
       'Stevenson Ranch', 'El Monte', 'Lakewood', 'Compton',
       'Huntington Park', 'Castaic', 'Carson', 'Agoura Hills', 'Commerce',
       'Glendale', 'Hacienda Heights', 'Beverly Hills', 'Cerritos',
       'South El Monte', 'Santa Fe Springs', 'Rancho Palos Verdes',
       'South Gate', 'Diamond Bar', 'Downey', 'Redondo Beach',
       'San Dimas', 'Harbor Gateway'], dtype=object)

In [41]:
df['City in HDI'] = df['CITY'].isin(df_hdi['GEO_NAME'].unique())

In [47]:
df.loc[df['City in HDI'] == False, 'CITY'].unique()

array(['Hacienda Hts', 'Los Angeles', 'Charter Oak', 'Irwindale'],
      dtype=object)

In [36]:
df_hprop.head()

,GEONAME,Pop_Tot,Prop_18y,Prop_64y,Prop_65y+,Prop_Blk,Prop_Lat,Prop_Whi,Prop_Asi,Prop_Ami,...,Rte_mein,Rte_cein,Rte_luin,Prop_fru,Prop_bev,Prop_hyp,Prop_marj,Prop_HI,Prop_grad,Prop_trua
0,Alhambra,86705,0.1831,0.6504,0.1665,0.0133,0.3435,0.0913,0.5498,0.0014,...,**,**,34.6,0.2,0.2,0.2,0.1,0.0,1.0,0.1
1,Altadena,42525,0.2072,0.6221,0.1707,0.2374,0.2905,0.4129,0.0553,0.0019,...,33.8,**,35.3,0.1,0.3,0.3,0.2,0.1,0.9,0.4
2,Arcadia,56992,0.1794,0.6389,0.1817,0.0115,0.1250,0.2304,0.6315,0.0014,...,22.0,**,29.5,0.1,0.2,0.2,0.0,0.0,1.0,0.1
3,Azusa,49479,0.2507,0.6538,0.0956,0.0292,0.6838,0.1938,0.0895,0.0024,...,**,**,29.7,0.1,0.4,0.2,0.1,0.0,0.9,0.0
4,Baldwin Park,74438,0.2623,0.6330,0.1047,0.0099,0.7934,0.0432,0.1514,0.0012,...,**,**,26.5,0.1,0.4,0.3,0.1,0.0,1.0,0.4