In [1]:
import pandas as pd

In [2]:
import_list = ["./data/la_county/redfin_2020-06-06-10-33-17.csv",  
               "./data/la_county/redfin_2020-06-06-10-34-58.csv",
               "./data/la_county/redfin_2020-06-06-10-33-30.csv",  
               "./data/la_county/redfin_2020-06-06-10-35-32.csv",
               "./data/la_county/redfin_2020-06-06-10-33-57.csv",  
               "./data/la_county/redfin_2020-06-06-10-35-43.csv",
               "./data/la_county/redfin_2020-06-06-10-34-10.csv",  
               "./data/la_county/redfin_2020-06-06-10-35-55.csv",
               "./data/la_county/redfin_2020-06-06-10-34-25.csv",  
               "./data/la_county/redfin_2020-06-06-10-36-06.csv",
               "./data/la_county/redfin_2020-06-06-10-34-38.csv",  
               "./data/la_county/redfin_2020-06-06-10-36-32.csv"]

In [3]:
df = pd.read_csv("./data/la_county/redfin_2020-06-06-10-34-50.csv")

for i in range(len(import_list)):
    df = df.append(pd.read_csv(import_list[i]))

In [5]:
df.shape

(1783, 27)

In [6]:
df.drop_duplicates(inplace=True)
df.shape

(1405, 27)

In [7]:
df.columns

Index(['SALE TYPE', 'SOLD DATE', 'PROPERTY TYPE', 'ADDRESS', 'CITY',
       'STATE OR PROVINCE', 'ZIP OR POSTAL CODE', 'PRICE', 'BEDS', 'BATHS',
       'LOCATION', 'SQUARE FEET', 'LOT SIZE', 'YEAR BUILT', 'DAYS ON MARKET',
       '$/SQUARE FEET', 'HOA/MONTH', 'STATUS', 'NEXT OPEN HOUSE START TIME',
       'NEXT OPEN HOUSE END TIME',
       'URL (SEE http://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)',
       'SOURCE', 'MLS#', 'FAVORITE', 'INTERESTED', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [8]:
df['CITY'].value_counts()

Arcadia             163
Pasadena            158
Covina               81
West Covina          80
Walnut               76
El Monte             74
Alhambra             68
Hacienda Hts         65
Azusa                64
San Gabriel          59
Rowland Heights      54
Temple City          53
La Puente            53
Monrovia             50
Glendora             46
San Marino           42
Baldwin Park         38
Rosemead             32
Montebello           30
Monterey Park        30
San Dimas            19
Sierra Madre         14
Diamond Bar          12
Pico Rivera          11
South El Monte       10
Duarte                7
East Los Angeles      4
Los Angeles           3
South Pasadena        3
Irwindale             3
Charter Oak           1
City Of Industry      1
Valinda               1
Name: CITY, dtype: int64

In [9]:
keep_cols = ['PRICE', 
             'PROPERTY TYPE', 
             'CITY', 
             'ZIP OR POSTAL CODE', 
             'BEDS', 
             'BATHS',
             'SQUARE FEET',
             'LATITUDE',
             'LONGITUDE']

df = df[keep_cols]

In [11]:
df.dtypes

PRICE                   int64
PROPERTY TYPE          object
CITY                   object
ZIP OR POSTAL CODE    float64
BEDS                  float64
BATHS                 float64
SQUARE FEET           float64
LATITUDE              float64
LONGITUDE             float64
dtype: object

In [13]:
df['ZIP OR POSTAL CODE'] = df['ZIP OR POSTAL CODE'].astype('str')
df['ZIP OR POSTAL CODE'] = df['ZIP OR POSTAL CODE'].str.replace(r'\.0', '')

df['ZIP OR POSTAL CODE'].head()

0    91745
1    91745
2    91745
3    91745
4    91744
Name: ZIP OR POSTAL CODE, dtype: object

In [14]:
df.isna().sum()

PRICE                  0
PROPERTY TYPE          0
CITY                   0
ZIP OR POSTAL CODE     0
BEDS                  86
BATHS                 87
SQUARE FEET           96
LATITUDE               0
LONGITUDE              0
dtype: int64

In [15]:
df['PROPERTY TYPE'].value_counts()

Single Family Residential    856
Condo/Co-op                  182
Townhouse                    103
Multi-Family (2-4 Unit)       97
Vacant Land                   86
Mobile/Manufactured Home      46
Multi-Family (5+ Unit)        35
Name: PROPERTY TYPE, dtype: int64

In [18]:
df = df.loc[df['PROPERTY TYPE'] != 'Vacant Land', ]

df.isna().sum()

PRICE                  0
PROPERTY TYPE          0
CITY                   0
ZIP OR POSTAL CODE     0
BEDS                   0
BATHS                  1
SQUARE FEET           10
LATITUDE               0
LONGITUDE              0
dtype: int64

In [19]:
df.dropna(inplace = True)

df.shape

(1308, 9)

In [21]:
df['PRICE'].describe()

count    1.308000e+03
mean     1.277248e+06
std      1.498240e+06
min      3.499900e+04
25%      5.829975e+05
50%      8.169950e+05
75%      1.303750e+06
max      2.300000e+07
Name: PRICE, dtype: float64

In [31]:
df.loc[(df['PRICE'] > 3_000_000), 'PRICE'].count()

95

In [28]:
df.loc[df['PRICE'] == df['PRICE'].min(), ]

,PRICE,PROPERTY TYPE,CITY,ZIP OR POSTAL CODE,BEDS,BATHS,SQUARE FEET,LATITUDE,LONGITUDE
60,34999,Mobile/Manufactured Home,El Monte,91732,2.0,2.0,840.0,34.048358,-118.013322

In [25]:
df.loc[df['PRICE'] == df['PRICE'].max(), ]

,PRICE,PROPERTY TYPE,CITY,ZIP OR POSTAL CODE,BEDS,BATHS,SQUARE FEET,LATITUDE,LONGITUDE
246,23000000,Single Family Residential,Arcadia,91006,6.0,9.0,15000.0,34.156895,-118.023595

In [32]:
df = df.loc[(df['PRICE'] <= 3_000_000), ]

df.shape

(1213, 9)

In [33]:
df['PRICE'].describe()

count    1.213000e+03
mean     9.569641e+05
std      5.831757e+05
min      3.499900e+04
25%      5.700000e+05
50%      7.790000e+05
75%      1.188000e+06
max      3.000000e+06
Name: PRICE, dtype: float64

In [34]:
df_hdi = pd.read_csv('./data/la_county/la_county_hdi.csv')

In [35]:
df_hdi.head()

,GEO_NAME,GEO_ID,GEO_TYPE,HD_INDEX,LIFE_EXPEC,LESS_HS,BACHELORS,GRAD_DEGRE,SCHOOL_ENR,EARNINGS,HEALTH_IND,ED_INDEX,INCOME_IND
0,Northeast Los Angeles,1010,City of Los Angeles Community Plan Area,4.85,83.3,30.9,25.4,8.0,80.3,24503,7.22,4.27,3.05
1,North Hollywood - Valley Village,2130,City of Los Angeles Community Plan Area,4.92,81.6,19.9,32.8,8.4,74.1,27157,6.48,4.51,3.76
2,Central City North,1110,City of Los Angeles Community Plan Area,3.50,82.3,39.0,22.2,6.9,54.4,20909,6.77,1.79,1.95
3,Canoga Park - Winnetka - Woodland Hills - West...,2200,City of Los Angeles Community Plan Area,6.02,82.8,14.8,37.2,12.9,79.9,34243,7.00,5.69,5.37
4,Sun Valley - La Tuna Canyon,2170,City of Los Angeles Community Plan Area,4.19,82.1,33.5,17.4,4.1,77.6,22596,6.72,3.36,2.49

In [50]:
sorted(df_hdi['GEO_NAME'].unique())

['Agoura Hills',
 'Alhambra',
 'Altadena',
 'Arcadia',
 'Arleta - Pacoima',
 'Artesia',
 'Avocado Heights',
 'Azusa',
 'Baldwin Park',
 'Bel Air - Beverly Crest',
 'Bell',
 'Bell Gardens',
 'Bellflower',
 'Beverly Hills',
 'Boyle Heights',
 'Brentwood - Pacific Palisades',
 'Burbank',
 'Calabasas',
 'Canoga Park - Winnetka - Woodland Hills - West Hills',
 'Carson',
 'Castaic',
 'Central City',
 'Central City North',
 'Cerritos',
 'Chatsworth - Porter Ranch',
 'Citrus',
 'Claremont',
 'Commerce',
 'Compton',
 'Covina',
 'Cudahy',
 'Culver City',
 'Del Aire',
 'Diamond Bar',
 'Downey',
 'Duarte',
 'East Los Angeles',
 'East Rancho Dominguez',
 'East San Gabriel',
 'East Whittier',
 'El Monte',
 'El Segundo',
 'Encino - Tarzana',
 'Florence-Graham',
 'Gardena',
 'Glendale',
 'Glendora',
 'Granada Hills - Knollwood',
 'Hacienda Heights',
 'Harbor Gateway',
 'Hawaiian Gardens',
 'Hawthorne',
 'Hermosa Beach',
 'Hollywood',
 'Huntington Park',
 'Inglewood',
 'La Cañada Flintridge',
 'La Crescenta-Montrose',
 'La Mirada',
 'La Puente',
 'La Verne',
 'Lake Los Angeles',
 'Lakewood',
 'Lancaster',
 'Lawndale',
 'Lennox',
 'Lomita',
 'Long Beach',
 'Lynwood',
 'Malibu',
 'Manhattan Beach',
 'Maywood',
 'Mission Hills - Panorama City - North Hills',
 'Monrovia',
 'Montebello',
 'Monterey Park',
 'North Hollywood - Valley Village',
 'Northeast Los Angeles',
 'Northridge',
 'Norwalk',
 'Palmdale',
 'Palms - Mar Vista - Del Rey',
 'Palos Verdes Estates',
 'Paramount',
 'Pasadena',
 'Pico Rivera',
 'Pomona',
 'Quartz Hill',
 'Rancho Palos Verdes',
 'Redondo Beach',
 'Reseda - West Van Nuys',
 'Rosemead',
 'Rowland Heights',
 'San Dimas',
 'San Fernando',
 'San Gabriel',
 'San Marino',
 'San Pedro',
 'Santa Clarita',
 'Santa Fe Springs',
 'Santa Monica',
 'Sherman Oaks - Studio City - Toluca Lake - Cahuenga Pass',
 'Sierra Madre',
 'Signal Hill',
 'Silver Lake - Echo Park - Elysian Valley',
 'South El Monte',
 'South Gate',
 'South Los Angeles',
 'South Pasadena',
 'South San Jose Hills',
 'South Whittier',
 'Southeast Los Angeles',
 'Stevenson Ranch',
 'Sun Valley - La Tuna Canyon',
 'Sun Village',
 'Sunland - Tujunga - Lake View Terrace - Shadow Hills - East La Tuna Canyon',
 'Sylmar',
 'Temple City',
 'Torrance',
 'Valinda',
 'Van Nuys - North Sherman Oaks',
 'Venice',
 'View Park-Windsor Hills',
 'Vincent',
 'Walnut',
 'Walnut Park',
 'West Adams - Baldwin Hills - Leimert',
 'West Carson',
 'West Covina',
 'West Hollywood',
 'West Los Angeles',
 'West Puente Valley',
 'West Whittier-Los Nietos',
 'Westchester - Playa del Rey',
 'Westlake',
 'Westmont',
 'Westwood',
 'Whittier',
 'Wilmington - Harbor City',
 'Wilshire']

In [41]:
df['City in HDI'] = df['CITY'].isin(df_hdi['GEO_NAME'].unique())

In [47]:
df.loc[df['City in HDI'] == False, 'CITY'].unique()

array(['Hacienda Hts', 'Los Angeles', 'Charter Oak', 'Irwindale'],
      dtype=object)

<br>

No data in the HDI spreadsheet for Irwindale. Since there are only 3 Irwindale listings in our dataset, we'll just take Irwindale out of our dataset. Additionally, Charter Oak in the HDI dataset is geographically split between Glendora and Covina. Since more of it resides in Covina, I will just rename the single Charter Oak listing as a Covina listing.

Hacienda Heights is an easy fix as we can change "Hacienda Hts" to match the HDI dataset's spelling (Hacienda Heights).

In [51]:
df = df.loc[df['CITY'] != 'Irwindale', ]

In [52]:
df.loc[df['CITY'] == 'Charter Oak', 'CITY'] = 'Covina'

In [53]:
df.loc[df['CITY'] == 'Hacienda Hts', 'CITY'] = 'Hacienda Heights'

In [55]:
df.loc[df['CITY'] == 'Los Angeles', ]

,PRICE,PROPERTY TYPE,CITY,ZIP OR POSTAL CODE,BEDS,BATHS,SQUARE FEET,LATITUDE,LONGITUDE,City in HDI
78,1290000,Multi-Family (5+ Unit),Los Angeles,91748,12.0,12.0,1920.0,33.974629,-117.900390,False
20,849000,Multi-Family (2-4 Unit),Los Angeles,90022,4.0,4.0,3120.0,34.015564,-118.139263,False
47,715000,Multi-Family (2-4 Unit),Los Angeles,90022,4.0,2.0,1929.0,34.014843,-118.141579,False

<br>

With manual checking of these three listings, I can easily relabel the "CITY" value to match the HDI dataset. Row 78 with a zipcode of 91748 is actually in the city of Rowland Heights, which I believe Redfin erronenously named as "Los Angeles". The remaining two listings fall in the "East Los Angeles" region of the HDI dataset, and hence all three will be renamed accordingly.

In [68]:
df.loc[(df['CITY'] == 'Los Angeles') & (df['ZIP OR POSTAL CODE'] == '90022'), 'CITY'] = 'East Los Angeles'
df.loc[(df['CITY'] == 'Los Angeles') & (df['ZIP OR POSTAL CODE'] == '91748'), 'CITY'] = 'Rowland Heights'

In [69]:
df['City in HDI'] = df['CITY'].isin(df_hdi['GEO_NAME'].unique())

df.loc[df['City in HDI'] == False, 'CITY'].unique()

array([], dtype=object)

<br>

Fantastic, now all cities in our dataset match city labels in the HDI data set as well. We can now merge in the relevant columns of the HDI data set.

In [71]:
df_hdi.rename(columns = {'GEO_NAME': 'CITY'}, inplace = True)
df_hdi.columns

Index(['CITY', 'GEO_ID', 'GEO_TYPE', 'HD_INDEX', 'LIFE_EXPEC', 'LESS_HS',
       'BACHELORS', 'GRAD_DEGRE', 'SCHOOL_ENR', 'EARNINGS', 'HEALTH_IND',
       'ED_INDEX', 'INCOME_IND'],
      dtype='object')

In [73]:
df_hdi.isna().sum()

CITY          0
GEO_ID        0
GEO_TYPE      0
HD_INDEX      0
LIFE_EXPEC    0
LESS_HS       0
BACHELORS     0
GRAD_DEGRE    0
SCHOOL_ENR    0
EARNINGS      0
HEALTH_IND    0
ED_INDEX      0
INCOME_IND    0
dtype: int64

In [84]:
df_hdi_merged = pd.merge(df,
                         df_hdi[['CITY', 'HEALTH_IND', 'ED_INDEX', 'INCOME_IND']], 
                         on = 'CITY', 
                         how = 'left')

In [86]:
df_hdi_merged.head()

,PRICE,PROPERTY TYPE,CITY,ZIP OR POSTAL CODE,BEDS,BATHS,SQUARE FEET,LATITUDE,LONGITUDE,City in HDI,HEALTH_IND,ED_INDEX,INCOME_IND
0,725000,Single Family Residential,Hacienda Heights,91745,4.0,3.0,1912.0,33.994354,-117.972470,True,7.62,5.77,5.88
1,1025000,Single Family Residential,Hacienda Heights,91745,5.0,5.5,2901.0,34.004616,-117.969404,True,7.62,5.77,5.88
2,949888,Single Family Residential,Hacienda Heights,91745,5.0,3.0,3198.0,33.981565,-117.989216,True,7.62,5.77,5.88
3,418000,Condo/Co-op,Hacienda Heights,91745,2.0,1.5,1029.0,33.990939,-117.940688,True,7.62,5.77,5.88
4,499900,Single Family Residential,La Puente,91744,3.0,2.0,1428.0,34.014966,-117.925701,True,7.02,2.76,3.23

In [95]:
df_hprop = pd.read_csv('./data/la_county/la_county_health_profile.csv',
                       na_values = ['', '-', '**'])

In [96]:
df_hprop.head()

,GEONAME,Pop_Tot,Prop_18y,Prop_64y,Prop_65y+,Prop_Blk,Prop_Lat,Prop_Whi,Prop_Asi,Prop_Ami,...,Rte_mein,Rte_cein,Rte_luin,Prop_fru,Prop_bev,Prop_hyp,Prop_marj,Prop_HI,Prop_grad,Prop_trua
0,Alhambra,86705,0.1831,0.6504,0.1665,0.0133,0.3435,0.0913,0.5498,0.0014,...,NaN,NaN,34.6,0.2,0.2,0.2,0.1,0.0,1.0,0.1
1,Altadena,42525,0.2072,0.6221,0.1707,0.2374,0.2905,0.4129,0.0553,0.0019,...,33.8,NaN,35.3,0.1,0.3,0.3,0.2,0.1,0.9,0.4
2,Arcadia,56992,0.1794,0.6389,0.1817,0.0115,0.1250,0.2304,0.6315,0.0014,...,22.0,NaN,29.5,0.1,0.2,0.2,0.0,0.0,1.0,0.1
3,Azusa,49479,0.2507,0.6538,0.0956,0.0292,0.6838,0.1938,0.0895,0.0024,...,NaN,NaN,29.7,0.1,0.4,0.2,0.1,0.0,0.9,0.0
4,Baldwin Park,74438,0.2623,0.6330,0.1047,0.0099,0.7934,0.0432,0.1514,0.0012,...,NaN,NaN,26.5,0.1,0.4,0.3,0.1,0.0,1.0,0.4

In [108]:
# A lot of missing values in the hprop dataset

print(df_hprop.isna().sum().to_string())

GEONAME        0
Pop_Tot        0
Prop_18y       0
Prop_64y       0
Prop_65y+      0
Prop_Blk       0
Prop_Lat       0
Prop_Whi       0
Prop_Asi       0
Prop_Ami       0
Prop_NHO       0
Prop_FPL1      0
Prop_FPL2      0
Prop_forb      0
Prop_Eng       1
LE             0
Prop_prsc      0
Prop_3rdg      0
Prop_edLH      0
Prop_edHG      0
Prop_edSC      0
Prop_edCG      0
MHI            0
No_libr        1
Prop_empl      0
Prop_emsu      0
Prop_vote      0
Rte_resp       0
Prop_PA        0
Prop_groc      0
Prop_60mi      0
No_farm        1
No_EBT         1
Prop_foin     28
No_CalF       24
Rte_CalF      24
Prop_FRPM      0
Prop_obse      1
Prop_DM        2
Rte_coin      11
Rte_brin       3
Prop_smok      0
Rte_luca       1
Rte_COPD       2
Rte_CVD        0
Prop_hbu1      0
Prop_hbu2      0
Prop_ownr      0
Prop_rentr     0
No_hless       0
Prop_asth     10
Rte_crim       0
Rte_hom       39
Rte_alco       0
Propt_envi     1
No_gasw        1
Rte_te17      28
Rte_te19      13
Prop_LBW       0
Rte_IMR       33
Prop_1stt      0
Prop_depr      0
Rte_suic      20
Rte_UOD       31
Rte_syin      10
Rte_goin       0
Rte_hiv        2
Prop_uinC      0
Prop_uinA      0
Prop_duinC     8
Prop_duinA     0
Propt_HPI      1
Rte_mein      36
Rte_cein      68
Rte_luin       8
Prop_fru       0
Prop_bev       0
Prop_hyp       0
Prop_marj      0
Prop_HI       13
Prop_grad      3
Prop_trua      0

In [89]:
df_hdi_merged['City in hprop'] = df_hdi_merged['CITY'].isin(df_hprop['GEONAME'].unique())
df_hdi_merged.loc[df_hdi_merged['City in hprop'] == False, 'CITY'].unique()

array(['South El Monte', 'San Marino', 'Sierra Madre', 'Duarte'],
      dtype=object)

In [91]:
sorted(df_hprop['GEONAME'].unique())

['Alhambra',
 'Altadena',
 'Arcadia',
 'Azusa',
 'Baldwin Park',
 'Bell',
 'Bell Gardens',
 'Bellflower',
 'Beverly Hills',
 'Burbank',
 'Calabasas',
 'Carson',
 'Cerritos',
 'Claremont',
 'Compton',
 'Covina',
 'Cudahy',
 'Culver City',
 'Diamond Bar',
 'Downey',
 'East Los Angeles',
 'El Monte',
 'Florence-Graham',
 'Gardena',
 'Glendale',
 'Glendora',
 'Hacienda Heights',
 'Hawthorne',
 'Huntington Park',
 'Inglewood',
 'La Mirada',
 'La Puente',
 'La Verne',
 'Lakewood',
 'Lancaster',
 'Lawndale',
 'Long Beach',
 'Los Angeles Council District  1',
 'Los Angeles Council District  2',
 'Los Angeles Council District  3',
 'Los Angeles Council District  4',
 'Los Angeles Council District  5',
 'Los Angeles Council District  6',
 'Los Angeles Council District  7',
 'Los Angeles Council District  8',
 'Los Angeles Council District  9',
 'Los Angeles Council District 10',
 'Los Angeles Council District 11',
 'Los Angeles Council District 12',
 'Los Angeles Council District 13',
 'Los Angeles Council District 14',
 'Los Angeles Council District 15',
 'Los Angeles County',
 'Los Angeles, City of',
 'Lynwood',
 'Manhattan Beach',
 'Maywood',
 'Monrovia',
 'Montebello',
 'Monterey Park',
 'Norwalk',
 'Palmdale',
 'Paramount',
 'Pasadena',
 'Pico Rivera',
 'Pomona',
 'Rancho Palos Verdes',
 'Redondo Beach',
 'Rosemead',
 'Rowland Heights',
 'San Dimas',
 'San Fernando',
 'San Gabriel',
 'Santa Clarita',
 'Santa Monica',
 'South Gate',
 'South Pasadena',
 'South Whittier',
 'Temple City',
 'Torrance',
 'Valinda',
 'Walnut',
 'West Covina',
 'West Hollywood',
 'West Whittier-Los Nietos',
 'Westmont',
 'Whittier']

In [93]:
df_hdi_merged['CITY'].isin(['South El Monte', 'San Marino', 'Sierra Madre', 'Duarte']).sum()

45

<br>

I want to merge in this third dataset in order to get data regarding crime rates within the cities. Too many missing values here without an easy solution of just filling in or changing labels. We should consider doing some sort of multiple imputation here, where we predict the crime rates of these four specific cities based off the combined data of the HDI sheet as well as the third dataset. We will look into doing imputation with K Nearest Neighbors, which can be done with Scikit-Learn.

In [109]:
# Rename GEONAME column so we can do dataframe merging

df_hprop.rename(columns = {'GEONAME': 'CITY'}, inplace = True)

In [120]:
df_hprop_impute = df_hprop.dropna(axis = 1)

In [121]:
df_hprop_impute.shape

(87, 51)

In [123]:
df_hdi_merged['CITY'].value_counts()

Pasadena            130
Arcadia             120
West Covina          72
Covina               69
Walnut               67
El Monte             66
Alhambra             65
Azusa                61
San Gabriel          56
Hacienda Heights     54
Rowland Heights      50
La Puente            49
Temple City          49
Monrovia             47
Glendora             46
Baldwin Park         35
Montebello           30
Rosemead             30
Monterey Park        27
San Marino           18
Sierra Madre         13
Diamond Bar          12
San Dimas            12
Pico Rivera           9
South El Monte        8
Duarte                6
East Los Angeles      6
South Pasadena        3
Valinda               1
Name: CITY, dtype: int64

In [161]:
df_test = pd.merge(df_hdi,
                   df_hprop[['CITY', 'Rte_crim']],
                   on = 'CITY',
                   how = 'left')

In [162]:
df_test.head()

,CITY,GEO_ID,GEO_TYPE,HD_INDEX,LIFE_EXPEC,LESS_HS,BACHELORS,GRAD_DEGRE,SCHOOL_ENR,EARNINGS,HEALTH_IND,ED_INDEX,INCOME_IND,Rte_crim
0,Northeast Los Angeles,1010,City of Los Angeles Community Plan Area,4.85,83.3,30.9,25.4,8.0,80.3,24503,7.22,4.27,3.05,NaN
1,North Hollywood - Valley Village,2130,City of Los Angeles Community Plan Area,4.92,81.6,19.9,32.8,8.4,74.1,27157,6.48,4.51,3.76,NaN
2,Central City North,1110,City of Los Angeles Community Plan Area,3.50,82.3,39.0,22.2,6.9,54.4,20909,6.77,1.79,1.95,NaN
3,Canoga Park - Winnetka - Woodland Hills - West...,2200,City of Los Angeles Community Plan Area,6.02,82.8,14.8,37.2,12.9,79.9,34243,7.00,5.69,5.37,NaN
4,Sun Valley - La Tuna Canyon,2170,City of Los Angeles Community Plan Area,4.19,82.1,33.5,17.4,4.1,77.6,22596,6.72,3.36,2.49,NaN

In [163]:
df_test[['CITY', 'Rte_crim']]

                                                  CITY  Rte_crim
0                                Northeast Los Angeles       NaN
1                     North Hollywood - Valley Village       NaN
2                                   Central City North       NaN
3    Canoga Park - Winnetka - Woodland Hills - West...       NaN
4                          Sun Valley - La Tuna Canyon       NaN
..                                                 ...       ...
135                                        Diamond Bar     116.0
136                                             Downey     328.0
137                                      Redondo Beach     231.0
138                                          San Dimas     241.0
139                                     Harbor Gateway       NaN

[140 rows x 2 columns]

In [164]:
df_test[['Rte_crim']].isna().sum()

Rte_crim    70
dtype: int64

In [165]:
df_test = df_test.loc[~(df_test['Rte_crim'].isna()) | (df_test['CITY'].isin(['South El Monte', 'San Marino', 'Sierra Madre', 'Duarte'])), ]

In [167]:
df_test.head()

,CITY,GEO_ID,GEO_TYPE,HD_INDEX,LIFE_EXPEC,LESS_HS,BACHELORS,GRAD_DEGRE,SCHOOL_ENR,EARNINGS,HEALTH_IND,ED_INDEX,INCOME_IND,Rte_crim
31,Sierra Madre,671806,City,8.24,81.8,1.6,63.7,27.5,92.8,56026,6.59,9.33,8.79,NaN
32,South Pasadena,673220,City,8.27,85.2,4.5,59.0,26.6,90.3,50629,8.01,8.71,8.08,104.0
42,San Marino,668224,City,9.43,86.5,5.5,71.1,37.5,92.1,77948,8.56,9.72,10.00,NaN
43,Cudahy,617498,City,2.84,79.2,57.1,4.6,1.5,77.3,19234,5.51,1.65,1.37,310.0
44,Westmont,684592,Census-Designated Place,2.83,76.3,30.4,7.3,1.5,71.7,20503,4.28,2.38,1.82,1514.0

In [230]:
df_test.shape

(74, 14)

In [205]:
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

In [232]:
standard_columns = ['HD_INDEX', 'LIFE_EXPEC', 'LESS_HS', 'BACHELORS', 'GRAD_DEGRE', 'SCHOOL_ENR', 'EARNINGS', 'HEALTH_IND', 'ED_INDEX', 'INCOME_IND']

In [233]:
df_test_standardized = df_test[standard_columns]

In [234]:
knn_imputer = KNNImputer(n_neighbors = 5,
                         weights = 'distance')

In [235]:
df_test_standardized = StandardScaler().fit_transform(df_test_standardized)

In [236]:
df_test_standardized.shape

(74, 10)

In [237]:
df_test2 = df_test.copy()

In [238]:
df_test2[standard_columns] = df_test_standardized

In [239]:
df_test2.head()

,CITY,GEO_ID,GEO_TYPE,HD_INDEX,LIFE_EXPEC,LESS_HS,BACHELORS,GRAD_DEGRE,SCHOOL_ENR,EARNINGS,HEALTH_IND,ED_INDEX,INCOME_IND,Rte_crim
31,Sierra Madre,671806,City,1.576242,-0.302731,-1.303404,1.753676,1.790466,2.041597,1.704279,-0.295945,1.883682,1.710371,NaN
32,South Pasadena,673220,City,1.593982,1.153621,-1.125675,1.513149,1.694879,1.608857,1.287377,1.161996,1.614148,1.402305,104.0
42,San Marino,668224,City,2.279938,1.710461,-1.064389,2.132378,2.852547,1.920429,3.397689,1.726691,2.053227,2.235385,NaN
43,Cudahy,617498,City,-1.616997,-1.416412,2.097969,-1.270824,-0.970942,-0.641391,-1.137794,-1.404801,-1.455060,-1.509137,310.0
44,Westmont,684592,Census-Designated Place,-1.622910,-2.658595,0.461633,-1.132649,-0.970942,-1.610728,-1.039767,-2.667665,-1.137705,-1.313884,1514.0

In [240]:
knn_imputer = KNNImputer(n_neighbors = 5, weights = 'distance')

In [245]:
imputed_values = knn_imputer.fit_transform(df_test2.drop(columns = ['CITY', 'GEO_ID', 'GEO_TYPE']).to_numpy())

In [253]:
df_test3 = df_test.copy()

In [255]:
df_test3['Rte_crim'] = imputed_values[:, -1]

In [256]:
df_test3.head()

,CITY,GEO_ID,GEO_TYPE,HD_INDEX,LIFE_EXPEC,LESS_HS,BACHELORS,GRAD_DEGRE,SCHOOL_ENR,EARNINGS,HEALTH_IND,ED_INDEX,INCOME_IND,Rte_crim
31,Sierra Madre,671806,City,8.24,81.8,1.6,63.7,27.5,92.8,56026,6.59,9.33,8.79,261.897346
32,South Pasadena,673220,City,8.27,85.2,4.5,59.0,26.6,90.3,50629,8.01,8.71,8.08,104.000000
42,San Marino,668224,City,9.43,86.5,5.5,71.1,37.5,92.1,77948,8.56,9.72,10.00,141.898486
43,Cudahy,617498,City,2.84,79.2,57.1,4.6,1.5,77.3,19234,5.51,1.65,1.37,310.000000
44,Westmont,684592,Census-Designated Place,2.83,76.3,30.4,7.3,1.5,71.7,20503,4.28,2.38,1.82,1514.000000